.app-root {
	height: 100vh;
	width: 100%;
	transform-origin: center;
	background-image: radial-gradient(
		circle var(--radius) at var(--mouse-x) var(--mouse-y),
		#ffffff 0%,
		#ecececd7 35%,
		#ffffff31 65%,
		transparent 100%
	);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: none;
}
