/* You can add global styles to this file, and also import other style files */
body {
	font-family: "Roboto", sans-serif;
	background: #181818;
}

h1 {
	color: white;
	margin: 0;
	user-select: none;
}
