.home-root {
	height: 100vh;
	width: 100%;
	background-image: radial-gradient(
		circle var(--radius) at var(--mouse-x) var(--mouse-y),
		#ffffff 0%,
		#ecececd7 35%,
		#ffffff31 65%,
		transparent 100%
	);
	display: grid;
	align-items: center;
	justify-content: center;
	cursor: var(--cursor);
}

.container {
	display: grid;
	row-gap: 50px;
}

h1 {
	color: white;
	margin: 0;
	user-select: none;
}

label, input, button {
	color: #181818;
	background-color: #ffffff00;
	cursor: var(--cursor);
	user-select: none;
	padding-right: 5px;
}

input, button {
	border: #181818;
	border-style: solid;
}

input::selection {
	background-color: transparent;
}

button {
	border: #181818;
	border-style: solid;
}

button:active {
	background-color: #c7c7c7;
}
